
		<div class="container">

			<h1>QuickBooks Online SVG Button Examples</h1>
			<p class="lead">SVG only QuickBooks App Buttons</p>

			<h3>The White Connect Basic Image Tag and Button Counterpart</h3>

			<div class="row">
				<div class="col-3"><code>qbo_connect_image_tag</code></div>
				<div class="col-3"><%= qbo_connect_image_tag %></div>
        <div class="col-3"><code>qbo_connect_button(root_url)</code></div>
        <div class="col-3"><%= qbo_connect_button(root_url) %></div>
			</div>

      <div class="row">
        <div class="col-xl-3"><code>qbo_connect_image_tag(size: 'lg', )</code></div>
        <div class="col-xl-3"><%= qbo_connect_image_tag(size: 'lg') %></div>
        <div class="col-xl-3"><code>qbo_connect_button(root_url, size: 'lg', )</code></div>
        <div class="col-xl-3"><%= qbo_connect_button(root_url, size: 'lg') %></div>
      </div>

			<div class="row">
				<div class="col-sm-4"><code>qbo_connect_image_tag(size: 'sm', options: { class: 'qbo-sm' })</code></div>
        <div class="col-sm-2"><%= qbo_connect_image_tag(size: 'sm', options: { class: 'qbo-sm' }) %></div>
        <div class="col-sm-4"><code>qbo_connect_button(root_url, size: 'sm')</code></div>
        <div class="col-sm-2"><%= qbo_connect_button(root_url, size: 'sm') %></div>
			</div>

      <h3>The Green Connect Basic Image Tag and Button Counterpart</h3>
			<div class="row">
				<div class="col-md-3"><code>qbo_connect_image_tag(color: 'green')</code></div>
				<div class="col-md-3"><%= qbo_connect_image_tag(color: 'green') %></div>
        <div class="col-md-3"><code>qbo_connect_button(root_url, color: 'green')</code></div>
        <div class="col-md-3"><%= qbo_connect_button(root_url, color: 'green') %></div>
			</div>

			<div class="row">
				<div class="col-xl-3"><code>qbo_connect_image_tag(color: 'green', size: 'lg')</code></div>
        <div class="col-xl-3"><%= qbo_connect_image_tag(color: 'green', size: 'lg') %></div>
        <div class="col-xl-3"><code>qbo_connect_button(root_url, color: 'green', size: 'lg')</code></div>
        <div class="col-xl-3"><%= qbo_connect_button(root_url, color: 'green', size: 'lg') %></div>
			</div>

			<div class="row">
        <div class="col-sm-3"><code>qbo_connect_image_tag(color: 'green', size: 'sm', options: { class: 'qbo-reduce' })</code></div>
				<div class="col-sm-3"><%= qbo_connect_image_tag(color: 'green', size: 'sm', options: { class: 'qbo-reduce' }) %></div>
        <div class="col-sm-3"><code>qbo_connect_button(root_url, color: 'green', size: 'sm', options: { class: 'qbo-reduce' })</code></div>
        <div class="col-sm-3"><%= qbo_connect_button(root_url, color: 'green', size: 'sm', options: { class: 'qbo-reduce' }) %></div>
			</div>

      <h3>The White Sign In Basic Image Tag and Button Counterpart</h3>

      <div class="row">
        <div class="col-3"><code>intuit_sign_in_image_tag</code></div>
        <div class="col-3"><%= intuit_sign_in_image_tag %></div>
        <div class="col-3"><code>intuit_sign_in_button(root_url)</code></div>
        <div class="col-3"><%= intuit_sign_in_button(root_url) %></div>
      </div>

      <div class="row">
        <div class="col-xl-3"><code>intuit_sign_in_image_tag(size: 'lg')</code></div>
        <div class="col-xl-3"><%= intuit_sign_in_image_tag(size: 'lg') %></div>
        <div class="col-xl-3"><code>intuit_sign_in_button(root_url, size: 'lg')</code></div>
        <div class="col-xl-3"><%= intuit_sign_in_button(root_url, size: 'lg') %></div>
      </div>

      <div class="row">
        <div class="col-sm-4"><code>intuit_sign_in_image_tag(size: 'sm', options: { class: 'qbo-sm' })</code></div>
        <div class="col-sm-2"><%= intuit_sign_in_image_tag(size: 'sm', options: { class: 'qbo-sm' }) %></div>
        <div class="col-sm-4"><code>intuit_sign_in_button(root_url, size: 'sm')</code></div>
        <div class="col-sm-2"><%= intuit_sign_in_button(root_url, size: 'sm') %></div>
      </div>

      <h3>The Blue Sign In Basic Image Tag and Button Counterpart</h3>

      <div class="row">
        <div class="col-3"><code>intuit_sign_in_image_tag(color: 'blue')</code></div>
        <div class="col-3"><%= intuit_sign_in_image_tag(color: 'blue') %></div>
        <div class="col-3"><code>intuit_sign_in_button(root_url, color: 'blue')</code></div>
        <div class="col-3"><%= intuit_sign_in_button(root_url, color: 'blue') %></div>
      </div>

      <div class="row">
        <div class="col-xl-3"><code>intuit_sign_in_image_tag(size: 'lg', color: 'blue')</code></div>
        <div class="col-xl-3"><%= intuit_sign_in_image_tag(size: 'lg', color: 'blue') %></div>
        <div class="col-xl-3"><code>intuit_sign_in_button(root_url, size: 'lg', color: 'blue')</code></div>
        <div class="col-xl-3"><%= intuit_sign_in_button(root_url, size: 'lg', color: 'blue') %></div>
      </div>

      <div class="row">
        <div class="col-sm-4"><code>intuit_sign_in_image_tag(size: 'sm', color: 'blue', options: { class: 'qbo-reduce' })</code></div>
        <div class="col-sm-2"><%= intuit_sign_in_image_tag(size: 'sm', color: 'blue', options: { class: 'qbo-reduce' }) %></div>
        <div class="col-sm-4"><code>intuit_sign_in_button(root_url, color: 'blue', size: 'sm', options: { class: 'qbo-reduce' })</code></div>
        <div class="col-sm-2"><%= intuit_sign_in_button(root_url, color: 'blue', size: 'sm', options: { class: 'qbo-reduce' }) %></div>
      </div>

		</div> <!-- /container -->
	</body>
</html>
